.App {
    width: 100vw;
    height: 100vh;
    background: #faf9fb;
    overflow-x: hidden;
    /*for overflow */
}

.App::-webkit-scrollbar {
    display: block;
}

.bottomMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #d5d5d5;
    border-radius: 25px 25px 0 0;
    z-index: 101;
}

.bottomMenu ul {
    display: flex;
}

.bottomMenu ul li {
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 1;
}

.bottomMenu ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

.bottomMenu ul li a .icon {
    position: relative;
    display: block;
    line-height: 70px;
    text-align: center;
    transition: 0.5s;
}

.bottomMenu ul li a .icon .MuiSvgIcon-root {
    font-size: 27px;
    color: #373848;
}

.bottomMenu ul li.active a .icon {
    transform: translateY(-26px);
}

.bottomMenu ul li.active a .icon .MuiSvgIcon-root {
    color: rgb(248, 246, 244);
    transition: 0.5s;
}

.indicator {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #f8901c;
    top: -50%;
    border-radius: 50%;
    border: 6px solid #faf9fb;
    transition: 0.5s;
}

.indicator::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-right-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb;
}

.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-left-radius: 18px;
    box-shadow: 0px -10px 0 0 #faf9fb;
}
/* To move .indicator on clicking any icon */
.bottomMenu ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(60px * 0));
}

.bottomMenu ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(60px * 1));
}

.bottomMenu ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(60px * 2));
}

.bottomMenu ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(60px * 3));
}

.bottomMenu ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(60px * 4));
}

.bottomMenu ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(60px * 5));
}

main {
    width: 100%;
    /* height: calc(100% - 60px); */
    height: auto;
    position: relative;
    /* background-color: #faf9fb; */
    margin-top: 60px;
}
/* Main Container */
.mainContainer {
    width: 100%;
    height: auto;
    background: #f2f1f5;
    padding: 10px;
    padding-bottom: 100px;
  }
  .banner {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background: #adeca8;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  .deliveryPic {
    position: absolute;
    right: -50px;
    bottom: -0px;
    width: 240px;
    height: 130px;
  }
  .bannerContent {
    padding: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  .bannerContent h3 {
    font-size: 18px;
    font-weight: 500;
    color: #0e16b8;
  }
  
  .bannerContent p {
    font-size: 14px;
    width: 200px;
    color: #49423f;
    margin: 5px 0;
  }
  
  .bannerContent p span {
    color: #f78c11;
    font-weight: 500;
  }
  
  .bannerContent a {
    background: #f8901c;
    padding: 5px 15px;
    border-radius: 100vw;
    color: #faf9fb;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .bannerContent a:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }